# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Output files
outputs/
*.csv

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Hugging Face cache
.cache/

# Streamlit
.streamlit/